# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs
hs_err_pid*

### Project Specific files ###
/quiz-api-server/target/**
/quiz-api-server/.settings/**
/quiz-api-server/.project
/quiz-api-server/.classpath
/quiz-api-server/.settings
/quiz-api-server/HELP.md
/quiz-api-server/.gitignore
/quiz-api-server/.factorypath


### STS ###
/quiz-api-server/.apt_generated
/quiz-api-server/.springBeans
/quiz-api-server/.sts4-cache
